{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Edit Student</h5>
        <form method="post">
          {{ form.hidden_tag() }}
          <div class="row">
            <div class="col-md-6 mb-3">{{ form.roll_no.label(class="form-label") }}{{ form.roll_no(class="form-control") }}</div>
            <div class="col-md-6 mb-3">{{ form.name.label(class="form-label") }}{{ form.name(class="form-control") }}</div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">{{ form.email.label(class="form-label") }}{{ form.email(class="form-control") }}</div>
            <div class="col-md-3 mb-3">{{ form.marks.label(class="form-label") }}{{ form.marks(class="form-control") }}</div>
            <div class="col-md-3 mb-3">{{ form.attendance.label(class="form-label") }}{{ form.attendance(class="form-control") }}</div>
          </div>
          <div class="d-grid gap-2">{{ form.submit(class="btn btn-success") }}</div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
